@charset "UTf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;  
}

body{
    width: 100vw;
    
}

main{
    background-color: #F0F2F5;
    height: 600px;
    padding-top: 100px
    
}
.tela{
    display: flex;
    align-items: center;
    width: 980px;
    margin: auto;
    /* background-color: blue; */
    
}

.logo-face h1{
    color:#004CFF;
    font-size: 2.5em;
}

.card01 span h1{
    font-weight:300;
    color: rgb(68, 67, 67);
    font-size: 2.3em;
}

.card01 h2{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    color: rgb(68, 67, 67);
}

.card01{
   
}

.perfil{
    
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   width: 100%;
   /* background-color: red; */
}

.perfil01{
   
    background-color:#C9CCD1 ;
    margin: 2px;
    width: 110px;
    height:140px;
   
    border-radius: 6px;
    overflow: hidden;
}

.imagem{
    background-image: url(../person-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110px;   
}

.pp{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1px;
    
}

.pp p{
    color: #3d3d3e;
    font-weight: 300 ;
}

/* ========================== */

.formulario{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 50%;
    height:350px;
    border-radius: 10px;
}

form{
    
}


input{
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size:18px ;
    font-weight: 400;
    box-shadow: 0px 0px 1px 1px rgba(121, 121, 121, 0.215);
}

a,p{
    color: #004CFF;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    margin: 20px 0px;
    
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 76, 255);
    border: none;
    margin-bottom: 20px;
}


#nova{
    width: 50%;
    margin: auto;
    display: flex;
    background-color: green;
}





